{{ define "password.html" }}
<!-- 修改密码 -->
<div class="layui-col-md6">
    <div class="card">
        <div class="card-header"><span class="icon iconfont" style="margin-right: 10px">&#xe622;</span>修改密码</div>
        <div class="user-edit-box">
            <form class="layui-form password-form" method="post">
                <input name="id" value="{{.User.Id}}" type="hidden">
                <div class="layui-form-item password-form-item">
                    <label class="layui-form-label"><span class="icon iconfont red">&#xe71b;</span>原始密码</label>
                    <div class="layui-input-block">
<!--                        <input type="password" name="oldPassword" id="oldPassword" minlength="6" maxlength="20"-->
<!--                               placeholder="请输入原始密码" class="layui-input" autocomplete="off" lay-verify="oldPassword">-->
                        <input type="password" name="oldPassword" id="oldPassword" placeholder="请输入原始密码"
                               autocomplete="off" class="layui-input" minlength="6" maxlength="20">
                    </div>
                </div>
                <div class="layui-form-item password-form-item">
                    <label class="layui-form-label"><span class="icon iconfont red">&#xe71b;</span>新密码</label>
                    <div class="layui-input-block">
<!--                        <input type="password" name="newPassword" name="newPassword" id="newPassword" minlength="6" maxlength="20"-->
<!--                               placeholder="请输入新密码" class="layui-input" autocomplete="off" lay-verify="newPassword">-->
                        <input type="password" name="newPassword" id="newPassword" placeholder="请输入新密码"
                               autocomplete="off" class="layui-input" minlength="6" maxlength="20">
                    </div>
                </div>
                <div class="layui-form-item password-form-item">
                    <label class="layui-form-label"><span
                            class="icon iconfont red">&#xe71b;</span>再次输入新密码</label>
                    <div class="layui-input-block">
<!--                        <input type="password" name="newPassword2" name="newPassword2" id="newPassword2" minlength="6" maxlength="20"-->
<!--                               placeholder="请再次输入新密码" class="layui-input" autocomplete="off" lay-verify="repeat">-->
                        <input type="password" name="newPassword2" id="newPassword2" placeholder="请再次输入新密码"
                               autocomplete="off" class="layui-input" minlength="6" maxlength="20">
                    </div>
                </div>
                <div class="layui-form-item password-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" type="button" id="passwordButton">修改</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
<script>
    jQuery(function ($) {
        var button_status = true

        $("#passwordButton").click(function () {
            if ($(".password-form").valid()) {
                $(".password-form").submit();
            }
        });

        $(function () {
            $(".password-form").validate({
                Locale: 'ZH',
                errorElement: 'div',
                errorClass: 'validation-error-block',
                focusInvalid: true,
                rules: {
                    oldPassword: {
                        required: true,
                    },
                    newPassword: {
                        required: true,
                    },
                    newPassword2: {
                        required: true,
                        equalTo: "#newPassword"
                    },
                },
                messages: {
                    oldPassword: {
                        required: "请输入原始密码",
                    },
                    newPassword: {
                        required: "请输入新密码",
                    },
                    newPassword2: {
                        required: "请再次输入新密码",
                        equalTo: "输入的新密码两次不同"
                    },
                },
            });
        });

        $.validator.setDefaults({
            submitHandler: function () {
                var name = {oldPassword: "原始密码", newPassword: "新密码", newPassword2: "新密码"};
                var data = {};
                var params = $(".password-form").serializeArray();
                var judgeFn = new RegExp(/\s+/g);
                var status = true;

                // 验证表单项
                $.each(params, function (index, value) {
                    if (judgeFn.test(value.value)) {
                        layer.msg(name[value.name] + "不能包含有空格!", {icon: 2});
                        status = false;
                        return false
                    }
                    data[value.name] = value.value;
                })
                if (!status) {
                    return false;
                }
console.log(data)
                if (button_status === true) {
                    button_status = false

                    // 禁用按钮
                    $("#passwordButton").addClass("layui-btn-disabled");

                    // post提交
                    $.post("/user/update-password", data, function (data) {
                        if (data.code === 0) {
                            layer.msg(data.message, {icon: 1});
                        } else {
                            layer.msg(data.message, {icon: 2});
                        }
                        // 恢复按钮
                        setTimeout(function () {
                            if (data.code === 0) {
                                window.location.href = "/user/password";
                            }
                            $("#passwordButton").toggleClass("layui-btn-disabled");
                            button_status = true
                        }, 1000)
                    });
                }
            }
        });

        // $("#profileButton").click(function () {
        //     var data = {};
        //     var params = $(".profile-form").serializeArray();
        //     var status = true;
        //
        //     if (button_status === true) {
        //         button_status = false
        //
        //         // 验证表单项
        //         $.each(params, function (index, value) {
        //             // 去掉所有空格符
        //             value.value = value.value.replace(/\s+/g,'');
        //             if (value.name === "nickname" && value.value === null || value.value === undefined || value.value === "") {
        //                 layer.msg("昵称不能为空", {icon: 2});
        //                 status = false;
        //                 return false
        //             }
        //             data[value.name] = value.value;
        //         })
        //         if (!status) {
        //             return false;
        //         }
        //
        //         // 禁用按钮
        //         $("#profileButton").addClass("layui-btn-disabled");
        //
        //         // post提交
        //         $.post("/user/update-profile", data, function (data) {
        //             if (data.code === 0) {
        //                 layer.msg(data.message, {icon: 1});
        //             } else {
        //                 layer.msg(data.message, {icon: 2});
        //             }
        //             // 恢复按钮
        //             setTimeout(function () {
        //                 $("#profileButton").toggleClass("layui-btn-disabled");
        //                 window.location.href = "/user/profile";
        //                 button_status = true
        //             }, 1000)
        //         });
        //     }
        // });
    });
</script>
{{end}}