{{ define "page_link.html" }}
<!--社区列表-->
<div class="card gf-card">
    <div class="card-header">XX社区</div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="https://www.kancloud.cn/ming5112/dolphinphp/256299" target="_blank">
            <span class="icon iconfont">&#xe61c;</span> 官网文档</a></li>
        <li class="list-group-item"><a href="http://bbs.dolphinphp.com/" target="_blank">
            <span class="icon iconfont">&#xe666;</span> 加入我们</a></li>
        <li class="list-group-item"><a href="https://dolphinphp.com/donate.html" target="_blank">
            <span class="icon iconfont"></span> 赞助我们</a></li>
    </ul>
</div>
<!--社区赞助商-->
<div class="card gf-card sponsor-link">
    <div class="card-header">社区赞助商</div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <a href="https://dolphinphp.com/" target="_blank">
                <img style="width: 120px;" src="http://demo.dolphinphp.com/static/admin/img/avatar.jpg">
            </a>
        </li>
    </ul>
</div>
{{end}}